/* GLOBAL STYLES
-------------------------------------------------- */

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  padding-top: 100px;
  padding-bottom: 40px;
  color: #5a5a5a;
}

.back {
  position: absolute;
}

.jumbotron {
  padding-bottom: 30px;
  padding-top: 30px;
}

.page-header {
  margin: -20px 0 20px;
}

.section, .panel-tab {
  margin-bottom: 75px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.panel-tab {
  padding-top: 30px;
}

.panel-tab h2 {
  margin-top: 0;
}

.featurette {
  margin-bottom: 20px;
  text-align: center;
}

.featurette p {
  margin-right: 10px;
  margin-left: 10px;
}

.map {
  height: 400px;
  width: 100%;
}

/*deprecated*/
.center-cropped {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
}

.center-img {
  object-fit: scale-down;
  object-position: center;
  background-color: white;
}

.elevate {
  box-shadow: 0 2px 5px #888888;  
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 767px) {
  body {
    padding-top: 70px;
  }
}

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    border-radius: 4px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding-top: 200px;
  }
}