/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  padding-top: 100px;
  padding-bottom: 40px;
  color: #5a5a5a;
}

footer {
  padding-top: 50px;
}

.back {
  position: absolute;
}

.section-header {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;  
}

.map {
  height: 400px;
  width: 100%;
}

.center-cropped {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 767px) {
  body {
    padding-top: 70px;
  }
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    border-radius: 4px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding-top: 200px;
  }
}