/* DOCTOR CONTENT
-------------------------------------------------- */

.doctor-panel {
  margin-top: 30px;
}

.doctor-img {
  width: 250px;
  height: 300px;
}

.col-md-4 {
  border-right: 1px solid #eee;
}

.contact {
  margin-top: 15px;
}