.location-panel {
  margin-top: 30px;
}

.content-divider {
  margin: 40px 0;
}

.center-cropped {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
}