/* LOCATION CONTENT
-------------------------------------------------- */

.location {
  margin-bottom: 20px;
  text-align: left;
}

.location .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.location h2 {
  font-weight: normal;
}
.location .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
